In [7]:
import pandas as pd

In [12]:
df_list = pd.read_html("merchant_data.html", index_col=0)
df = df_list[0]   # first table
df.head(2)

,merchant_id,creation_date,name,street,state,city,country,contact_number
0,MERCHANT53971,2022-06-28 11:42:04,Whitby Group,813 North Isle bury,South Carolina,Boise,Brunei Darussalam,661.157.5528
1,MERCHANT56138,2020-08-27 20:35:19,YourMapper,54861 Springs view,Colorado,Cleveland,Sint Maarten (Dutch part),(046)415-8092

In [11]:
df_list = pd.read_html("staff_data.html", index_col=0)
df = df_list[0]   # first table
df.head(2)

,staff_id,name,job_level,street,state,city,country,contact_number,creation_date
0,STAFF0009650,Randall Bergstrom,intermediate,376 Land chester,Texas,Omaha,Cook Islands,(138)548-8481,2020-09-04 02:33:28
1,STAFF0039964,Christian Hessel,intermediate,945 West Camp shire,New Mexico,San Diego,Pakistan,393-164-5574,2020-08-08 06:50:47