In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("transactional_campaign_data.csv")
df.head(2)

,Unnamed: 0,transaction_date,campaign_id,order_id,estimated arrival,availed
0,2,2023-08-14,CAMPAIGN49972,0612c246-57f1-40e8-9993-0f8d41992049,10days,1
1,4,2021-10-12,CAMPAIGN46302,b4c411de-2fd3-4806-91ae-165edc9baa12,13days,0

In [12]:
df = pd.read_csv("campaign_data.csv",delimiter="\t",index_col=0)
df.head(2)

,campaign_id,campaign_name,campaign_description,discount
0,CAMPAIGN24776,wouldn't you know it,"""Twee retro vinyl single-origin coffee sartori...",1%
1,CAMPAIGN33679,could be written on the back of a postage stamp,"""Fanny pack gentrify cardigan messenger bag."" ...",1pct